
@model IEnumerable<WebStore.Models.Employee>

<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>Employees</title>
</head>
<body>

  <h3>Сотрудники</h3>

  <table style="border-collapse:collapse;" border="1">
    <thead >
      <tr>
        <td>#</td>
        <td>Фамилия</td>
        <td>Имя</td>
        <td>Отчество</td>
        <td>Возраст</td>
        <td>Подробнее</td>
      </tr>
    </thead>
    <tbody>
      @foreach (var empl in Model)
      {
        <tr>
          <td>@empl.Id</td>
          <td>@empl.LastName</td>
          <td>@empl.FirstName</td>
          <td>@empl.Patronymic</td>
          <td>@empl.Age</td>
        </tr>
      }
    </tbody>
  </table>
</body>
</html>
